body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: #74dab4;
    }
h1{
    text-align: center;
    background-color: yellow;
    border: 2px solid black;
    padding: 15px;
}

button{
    background-color: green;
    color: white;
    padding: 15px 32px;
    boder: black;
    text-align: center;
    font-size: 16px;
    float: right;
}
